.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  padding: 0px 15px;
  position: relative;
}
.login-container-card {
  max-width: 320px;
  width: 100%;
  box-shadow: 0px 0px 6px #575757;
  border-radius: 8px;
}
.logo-title-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.logo {
  width: 40px;
  margin-right: 8px;
}
.login-card {
  width: 100%;
}
.login-content-card {
  display: none;
  width: 100%;
  background-image: url("https://img.freepik.com/free-photo/top-view-digital-tablet-with-search-job-screen-male-hands_169016-39367.jpg?w=360&t=st=1709369995~exp=1709370595~hmac=9037c3c87f94e5e01cc3bebd63c59b601ded929152cd69f6c31a8e4167a3044d");
  background-size: cover;
}
.login-form-card {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #333333;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.forget-password {
  font-size: 13px;
  font-weight: 600;
  color: #575757;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 8px;
}
.login-button {
  border: none;
  border-radius: 20px;
  padding: 6px;
  padding-bottom: 7px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 6px;
  position: relative;
  font-size: 14px;
}
.login-signup {
  color: #575757;
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
}
.login-signup-button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  padding: 0px;
  padding-bottom: 10px;
  margin-left: 5px;
  color: #333333;
  font-size: 12px;
  font-weight: 600;
}
.loader {
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  border-top: 3px solid transparent;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 22%;
  left: 46%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .login-container-card {
    max-width: 550px;
    border-radius: 0;
  }
  .login-card {
    width: 100%;
    display: flex;
  }
  .login-content-card {
    display: block;
  }
  .logo {
    width: 45px;
  }
  .login-title {
    font-size: 26px;
  }
  .forget-password {
    font-size: 14px;
  }
  .login-button {
    font-size: 15px;
  }
  .login-signup {
    font-size: 13px;
  }
  .login-signup-button {
    font-size: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .login-container-card {
    max-width: 600px;
    border-radius: 0;
  }
  .login-form-card {
    justify-content: center;
  }
  .logo {
    width: 50px;
  }
  .login-title {
    font-size: 30px;
  }
  .forget-password {
    font-size: 15px;
  }
  .login-button {
    font-size: 16px;
  }
  .login-signup {
    font-size: 14px;
  }
  .login-signup-button {
    font-size: 14px;
  }
}
