.home-container {
  height: 90vh;
  background-image: url("https://assets.ccbp.in/frontend/react-js/home-sm-bg.png");
  background-size: cover;
  width: 100%;
  padding: 0px 20px;
}
.home-card {
  padding-top: 30px;
}
.home-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #cdcdcd;
}
.home-description {
  font-size: 14px;
  color: #b8b8b8;
  margin-bottom: 24px;
}
.home-button {
  font-size: 14px;
  font-weight: 500;
  padding: 3px 15px;
  border-radius: 6px;
  border: none;
  background-color: #caa933;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .home-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
  }
  .home-card {
    padding-top: 40px;
    padding-left: 40px;
    max-width: 340px;
  }
  .home-title {
    font-size: 32px;
  }
  .home-description {
    font-size: 15px;
  }
  .home-button {
    font-size: 15px;
    padding: 4px 16px;
  }
}

@media screen and (min-width: 768px) {
  .home-card {
    padding-top: 50px;
    max-width: 380px;
  }
  .home-title {
    font-size: 33px;
  }
  .home-button {
    font-size: 15px;
    padding: 4px 16px;
  }
}

@media screen and (min-width: 1024px) {
  .home-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
  }
  .home-card {
    padding-top: 60px;
    max-width: 650px;
  }
  .home-title {
    font-size: 50px;
  }
  .home-description {
    font-size: 16px;
  }
  .home-button {
    font-size: 16px;
    padding: 5px 18px 7px 18px;
  }
}
