.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  padding: 0px 15px;
}
.register-container .notify-bar {
  top: 12%;
}
.register-container-card {
  max-width: 320px;
  width: 100%;
  box-shadow: 0px 0px 6px #575757;
  border-radius: 8px;
}
.logo-title-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.logo {
  width: 40px;
  margin-right: 8px;
}
.register-card {
  width: 100%;
}
.register-content-card {
  display: none;
  width: 100%;
  background-image: url("https://img.freepik.com/free-photo/top-view-digital-tablet-with-search-job-screen-male-hands_169016-39367.jpg?w=360&t=st=1709369995~exp=1709370595~hmac=9037c3c87f94e5e01cc3bebd63c59b601ded929152cd69f6c31a8e4167a3044d");
  background-size: cover;
}
.register-form-card {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.show-password-card {
  display: flex;
  margin-bottom: 6px;
}
.checkbox-input {
  width: 15px;
  margin-right: 10px;
  accent-color: #343de5;
}
.label {
  font-size: 14px;
  margin-bottom: 1px;
}
.register-button {
  border: none;
  border-radius: 20px;
  padding: 6px;
  padding-bottom: 7px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 6px;
  position: relative;
  font-size: 14px;
}
.register-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.loader {
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  border-top: 3px solid transparent;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 22%;
  left: 46%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .register-container-card {
    max-width: 550px;
    border-radius: 0;
  }
  .register-card {
    width: 100%;
    display: flex;
  }
  .logo {
    width: 45px;
  }
  .register-content-card {
    display: block;
  }
  .register-title {
    font-size: 26px;
  }
  .register-button {
    font-size: 15px;
    margin-top: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .register-container .notify-bar {
    top: 14%;
  }
  .register-container-card {
    max-width: 700px;
    height: 410px;
  }
  .logo {
    width: 50px;
  }
  .register-card {
    height: 100%;
  }
  .register-content-card {
    height: 100%;
  }
  .register-title {
    font-size: 30px;
  }
  .register-button {
    font-size: 16px;
    margin-top: 10px;
  }
}
